.env
*.env
data/
!data/bets/
!data/bets/bets.csv
*.parquet
*.csv.gz
*.csv
!data/bets/*.csv
!docs/data/
!docs/data/bets/
!docs/data/bets/*.csv
*.feather
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
node_modules/
