.env
*.env
data/
!data/bets/
!data/bets/bets.csv
*.parquet
*.csv.gz
*.csv
!data/bets/*.csv
!docs/data/
!docs/data/bets/
!docs/data/bets/*.csv
!docs/nba/data/
!docs/nba/data/latest.json
!docs/nhl/data/
!docs/nhl/data/latest.json
*.feather
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
node_modules/
logs/
.venv/

!docs/mlb/data/
!docs/mlb/data/latest.json
